<div class="product-filter">

  <div class="search">

    <input
      type="text"
      placeholder="Search product..."
      [(ngModel)]="searchQuery"
      (input)="updateSearch()"
    />

  </div>

  <div class="sort">

    <select [(ngModel)]="sort" (change)="updateSort()">

      <option value="">Default</option>
      <option value="priceAsc">Price ↑</option>
      <option value="priceDesc">Price ↓</option>
      <option value="nameAsc">Name A-Z</option>
      <option value="nameDesc">Name Z-A</option>

    </select>

  </div>

</div>
